<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav th:replace="fragments/common :: nav"></nav>

    <div th:if="${followingNone}">
        <p>Your feed is empty.</p>
        <p>Once you have followed other users, their blog posts will appear here.</p>
        <p>To follow other users, go to the <a href="/users/all">user directory</a>.</p>
    </div>

    <ul th:each="followingUser : ${loggedInUser.following}">
        <li th:text="${followingUser.username}"></li>
        <ul th:each="blogPost : ${followingUser.blogPosts}">
            <li th:text="${blogPost}"></li>
        </ul>
    </ul>
    
</body>
</html>