<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <nav th:replace="fragments/common :: nav"></nav>
    <h1>[[${viewedUser.username}]]'s Profile</h1>
    <p>Profile info goes here.</p>
    <form method="POST" th:action="'/users/'+${viewedUser.id}">
      <input type="submit" th:value="'Follow '+${viewedUser.username}" />
    </form>


    <h2>[[${viewedUser.username}]]'s Posts</h2>
    <ul th:each="blogPost : ${viewedUser.blogPosts}">
        <li>[[${blogPost}]]</li>
    </ul>
  
</body>
</html>